pandas
numpy
tqdm
matplotlib
mplfinance
pymysql
psycopg2-binary
duckdb
requests
tushare
akshare
pytdx
mootdx
baostock
jqdatasdk
fastapi
uvicorn[standard]
pydantic
pytz
starlette
pystray
Pillow
pytest
zhipuai
sse-starlette
psutil
seaborn
